/* Header Styles */
.header {
  height: 10vh;
  display: flex;
  box-sizing: content-box;
  border: 1px solid #ccc;
  border-radius: 20px;
  align-items: center;
  padding: 0 20px;
  justify-content: space-between;
}

.h-left {
  font-size: 2rem;
  font-weight: bold;
}

.h-right {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}
.h-right > ul {
  display: flex;
  gap: 2rem;
  margin-right: 4rem;
}

.header a {
  color: black; /* Adjust link color */
  text-decoration: none;
}

.header a:hover {
  color: #b455f0;
}
